@import url(../comm/comm.css);
html,body{
  height: 100%;
  min-height: 100%;
  background-color: #f8f8f8;
}
#container{
  .order-list{
    margin-top: 10px;
    display: none;
    li{
      margin-top: 10px;
      background-color: #fff;
      .status{
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        padding: 10px 15px;
        box-sizing: border-box;
        height: 50px;
        img{
          float: left;
          width:30px;
          height: 30px;
          border-radius: 30px;
        }
        p{
          height: 30px;
          line-height: 30px;
          float: left;
          margin-left: 5px;
          font-size: 14px;
          color: #797979;
        }
        span{
          height: 30px;
          line-height: 30px;
          float: right;
          font-size: 14px;
          color: #ff5555;
        }
      }
      .gift{
        overflow: hidden;
        padding: 10px;
        box-sizing: border-box;
        img{
          width:70px;
          height: 70px;
          float: left;
        }
        .right{
          height: 70px;
          position: relative;
          margin-left: 70px;
          padding: 5px;
          font-size: 14px;
          box-sizing: border-box;
          color: #797979;
          p{
            overflow: hidden;
            height: 34px;
            line-height: 17px;
            color: #333;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          span{
            position: absolute;
            left: 5px;
            bottom: 5px;
          }
          i{
            position: absolute;
            right: 5px;
            bottom: 5px;
          }
        }
      }
      .money{
        height: 40px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        padding: 10px 15px;
        box-sizing: border-box;
        font-size: 15px;
        span{
          height: 20px;
          line-height: 20px;
        color: #797979;
          float: right;
        }
        i{
          height: 20px;
          line-height: 20px;
          float: right;
          color: #333;
          margin-left: 5px;
        }
      }
      .btn-box{
        padding: 10px 15px;
        border-bottom: 1px solid #f2f2f2;
        height: 50px;
        box-sizing: border-box;
        button{
          padding:0 10px;
          box-sizing: border-box;
          height: 30px;
          box-sizing: border-box;
          background-color: #fff;
          border: 1px solid #797979;
          font-size: 12px;
          border-radius: 3px;
          float: right;
          color: #797979;
        }
        .mr10{
          margin-right: 10px;
        }
       .color-red{
          color: #f55;
          border-color: #f55;
        }
      }
    }

  }
  .cur-ul{
    display: block;
  }
}